# MongoDB Atlas
# Ne mets jamais cette valeur directement dans le code ou dans Git.
NUXT_MONGODB_URI=mongodb+srv://UTILISATEUR:MOT_DE_PASSE@TON-CLUSTER.mongodb.net/?retryWrites=true&w=majority

NUXT_MONGODB_DB_NAME=humeurs_funes
NUXT_MONGODB_COLLECTION=humeurs
